* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
}

nav {
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
}

nav>i {
    color: white;
    font-size: 20px;
}

nav>p {
    color: whitesmoke;
    margin-left: 10px;
    font-size: 18px;

}

header {
    text-align: center;
    background-color: white;
    padding: 30px 15px;


}

header>h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

header>p {
    color: black;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

#button1 {
    background-color: rgb(13, 13, 155);
    color: white;

}

a:hover {
    background-color: rgb(13, 13, 155);

}

header a {
    border: 1px solid black;
    background-color: gray;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 12px;
    color: black;
    margin: 0 5px;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

main>section>div {
    padding: 20px;
    width: 25%;
    margin: 15px;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

.card p {
    flex: 1;
    margin-bottom: 15px;
    color: #444;

}

.card button {
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    border-radius: 3px;


}


.sidbar {
    background-color: rgba(233, 228, 228, 0.377);
    padding: 30px;
}

section {
    background-color: white;
    padding-bottom: 25%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;



}

.card {
    margin-left: 50px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    width: calc(33.333%-20px);
    box-sizing: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;


}

footer {
    background-color: rgba(170, 160, 160, 0.411);
    color: black;
    padding: 30px 10px;
    text-align: center;
    font-size: 14px;

}

footer a {

    border: 1px solid rgb(167, 162, 162);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-flex;
}

@media(max-with:992px) {
    .card {
        width: calc(50%-20px);
    }
}

@media(max-with:576px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .card {
        width: 100%;
    }

    header>h1 {
        font-size: 22px;
    }

    header>p {
        font-size: 14px;
    }

    header a {
        display: inline-block;
        margin: 5px 2px;
    }
}